@font-face {
  font-family: "akaDora";
  src: url(/widgets/css/fonts/akaDora/akaDora.eot);
  src: url(/widgets/css/fonts/akaDora/akaDora.eot?#iefix) format('eot'), url(/widgets/css/fonts/akaDora/akaDora.woff) format('woff'), url(/widgets/css/fonts/akaDora/akaDora.ttf) format('truetype'), url(/widgets/css/fonts/akaDora/akaDora.svg) format('svg');
  font-weight: "normal";
  font-style: "normal";
}

@font-face {
  font-family: "PTSansRegular";
  src: url(/widgets/css/fonts/ptSans/PTS55F-webfont.eot);
  src: url(/widgets/css/fonts/ptSans/PTS55F-webfont.eot?#iefix) format('eot'), url(/widgets/css/fonts/ptSans/PTS55F-webfont.woff) format('woff'), url(/widgets/css/fonts/ptSans/PTS55F-webfont.ttf) format('truetype'), url(/widgets/css/fonts/ptSans/PTS55F-webfont.svg) format('svg');
  font-weight: "normal";
  font-style: "normal";
}

@font-face {
  font-family: "mgOpenModerna";
  src: url('/css/fonts/mgOpenModerna/mgopenmodernabold-webfont.eot');
  src: url('/css/fonts/mgOpenModerna/mgopenmodernabold-webfont.eot?#iefix') format('eot'), url(/widgets/css/fonts/mgOpenModerna/mgopenmodernabold-webfont.woff) format('woff'), url(/widgets/css/fonts/mgOpenModerna/mgopenmodernabold-webfont.ttf) format('truetype'), url(/widgets/css/fonts/mgOpenModerna/mgopenmodernabold-webfont.svg) format('svg');
  font-weight: "bold";
  font-style: "bold";
}

/* line 9, ../sass/typography.scss */
.fffW-widget {
  font-family: PTSansRegular, helvetica, arial sans-serif;
}

/* line 9, ../sass/fffw-slidein.full.scss */
.fffW-widget-wrapper {
  position: relative;
}

/* line 13, ../sass/fffw-slidein.full.scss */
.fffW-widget {
  position: absolute;
  bottom: 25px;
  overflow: hidden;
  right: 0px;
  width: 370px;
}
/* line 19, ../sass/fffw-slidein.full.scss */
.fffW-widget .fffW-innerwrapper {
  background-color: white;
  border-top: 8px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  border-bottom: 8px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  font-size: 14px;
  padding: 10px 10px 10px 16px;
  overflow: auto;
  width: 340px;
}
/* line 30, ../sass/fffw-slidein.full.scss */
.fffW-widget .fffw-logo {
  background: transparent no-repeat url("../images/widget_logo_FF_default.png") 0 0;
  display: block;
  height: 40px;
  width: 85px;
}
/* line 36, ../sass/fffw-slidein.full.scss */
.fffW-widget .fffW-title {
  font-size: 22px;
  margin: 18px 0px;
}
/* line 40, ../sass/fffw-slidein.full.scss */
.fffW-widget .fffw-button-reload {
  background: transparent no-repeat url("../images/widget_reload_FF_default.png") left 0;
  display: block;
  float: right;
  height: 30px;
  overflow: hidden;
  text-indent: -9999px;
  width: 105px;
}
/* line 50, ../sass/fffw-slidein.full.scss */
.fffW-widget .fffw-button-reload:link, .fffW-widget .fffw-button-reload:visited, .fffW-widget .fffw-button-reload:active {
  outline: 0;
  cursor: pointer;
}
/* line 54, ../sass/fffw-slidein.full.scss */
.fffW-widget .fffw-button-reload:hover {
  background: transparent no-repeat url("../images/widget_reload_FF_default.png") -105px 0;
  outline: 0;
  cursor: pointer;
}
/* line 60, ../sass/fffw-slidein.full.scss */
.fffW-widget .fffw-external-links {
  float: left;
  font-size: 12px;
  padding-top: 7px;
  width: 230px;
}
