@font-face {
  font-family: "akaDora";
  src: url(/widgets/css/fonts/akaDora/akaDora.eot);
  src: url(/widgets/css/fonts/akaDora/akaDora.eot?#iefix) format('eot'), url(/widgets/css/fonts/akaDora/akaDora.woff) format('woff'), url(/widgets/css/fonts/akaDora/akaDora.ttf) format('truetype'), url(/widgets/css/fonts/akaDora/akaDora.svg) format('svg');
  font-weight: "normal";
  font-style: "normal";
}

@font-face {
  font-family: "PTSansRegular";
  src: url(/widgets/css/fonts/ptSans/PTS55F-webfont.eot);
  src: url(/widgets/css/fonts/ptSans/PTS55F-webfont.eot?#iefix) format('eot'), url(/widgets/css/fonts/ptSans/PTS55F-webfont.woff) format('woff'), url(/widgets/css/fonts/ptSans/PTS55F-webfont.ttf) format('truetype'), url(/widgets/css/fonts/ptSans/PTS55F-webfont.svg) format('svg');
  font-weight: "normal";
  font-style: "normal";
}

@font-face {
  font-family: "mgOpenModerna";
  src: url('/css/fonts/mgOpenModerna/mgopenmodernabold-webfont.eot');
  src: url('/css/fonts/mgOpenModerna/mgopenmodernabold-webfont.eot?#iefix') format('eot'), url(/widgets/css/fonts/mgOpenModerna/mgopenmodernabold-webfont.woff) format('woff'), url(/widgets/css/fonts/mgOpenModerna/mgopenmodernabold-webfont.ttf) format('truetype'), url(/widgets/css/fonts/mgOpenModerna/mgopenmodernabold-webfont.svg) format('svg');
  font-weight: "bold";
  font-style: "bold";
}

/* line 9, ../sass/typography.scss */
.fffW-widget {
  font-family: PTSansRegular, helvetica, arial sans-serif;
}

/* line 6, ../sass/fffw-interactive.minimal.scss */
.fffW-widget {
  color: #444444;
  background-color: white;
  margin: 10px 0;
  padding: 10px;
  border: 8px solid #dfdfdf;
  font-size: 14px;
}
/* line 13, ../sass/fffw-interactive.minimal.scss */
.fffW-widget .fffw-logo {
  background: transparent no-repeat url("../images/widget_logo_FF_default.png") 0 0;
  display: block;
  height: 40px;
  width: 85px;
}
/* line 19, ../sass/fffw-interactive.minimal.scss */
.fffW-widget .fffW-title {
  font-size: 22px;
  margin: 16px 0 0 0;
}
/* line 23, ../sass/fffw-interactive.minimal.scss */
.fffW-widget .fffW-text {
  margin: 10px 0;
}
/* line 26, ../sass/fffw-interactive.minimal.scss */
.fffW-widget .fffw-button-reload {
  position: relative;
  float: right;
  top: -40px;
  background: transparent no-repeat url("../images/widget_reload_FF_default.png") left 0;
  display: block;
  height: 26px;
  width: 32px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
}
/* line 39, ../sass/fffw-interactive.minimal.scss */
.fffW-widget .fffw-button-reload:link, .fffW-widget .fffw-button-reload:visited, .fffW-widget .fffw-button-reload:active {
  outline: 0;
  cursor: pointer;
}
/* line 43, ../sass/fffw-interactive.minimal.scss */
.fffW-widget .fffw-button-reload:hover {
  background: transparent no-repeat url("../images/widget_reload_FF_default.png") -32px 0;
  outline: 0;
  cursor: pointer;
}
/* line 49, ../sass/fffw-interactive.minimal.scss */
.fffW-widget .fffW-slogan {
  color: #acacac;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
}
