@import "compass/css3";
@import "compass/utilities";
@import "variables.scss";
@import "typography.scss";
@import "mixins.scss";

.fffW-widget {
  color: $font-color;
  background-color: $background-color;
  margin: 10px 0;
  padding: 10px;
  border: 8px solid $border-color;
  font-size: 14px;
  .fffw-logo {
    background: transparent no-repeat $image_logo_url 0 0;
    display: block;
    height: 40px;
    width: 85px;
  }
  .fffW-title {
    font-size: 22px;
    margin: 16px 0 0 0;
  }
  .fffW-text {
    margin: 10px 0;
  }
  .fffw-button-reload {
    position: relative;
    float: right;
    top: -40px;
    background: transparent no-repeat $image_reload_url left 0;
    display: block;
    height: 26px;
    width: 32px;
    overflow: hidden;
    position: relative;
    text-indent: -9999px;
    &:link,
    &:visited,
    &:active {
      outline: 0;
      cursor: pointer;
    }
    &:hover {
      background: transparent no-repeat $image_reload_url -32px 0;
      outline: 0;
      cursor: pointer;
    }
  }
  .fffW-label {
    font-weight: bold;
    padding-right: .2em;
  }
  .fffW-extra {
    font-size: 12px;
  }
  .fffW-slogan {
    color: darken($border-color, 20%);
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
  }
  a {
    &:link,
    &:visited,
    &:active {
      color: $font-color;
    }
    &:hover {
      color: darken($font-color, 40%);
      text-decoration: none;
    }
  }
}

.fffw-create-fact-overlay {
  @include rgba-background(#000, .45);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 500;
}

.fffw-create-fact-dialog {
  background-color: #FFF;
  border: 8px solid $border-color;
  position: absolute;
  top: 0;
  left: 25%;
  width: 390px;
  z-index: 1000;
  padding: 10px;

  .fffw-logo {
    background: transparent no-repeat $image_logo_url 0 0;
    display: block;
    padding-top: 10px;
    height: 40px;
    width: 85px;
  }
}