$image_logo_url: url('../images/widget_logo_FF_default.png');
$image_reload_url: url('../images/widget_reload_FF_default.png');
$image_close_url: url('../images/close_default.png');

@import "fffw-slidein.normal.scss";